#textdomain wesnoth-Flight_Freedom
[unit_type]
    id=Doombringer
    name= _ "Doombringer"
    race=undead
    image="units/undead-skeletal/doombringer.png"
    hitpoints=63
    movement_type=undeadfoot
    [defense]
        hills=60
        mountains=50
        fungus=60
        forest=-70
        village=60
    [/defense]
    [resistance]
        blade=80
        pierce=60
    [/resistance]
    movement=9
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    abilities_list=submerge
    cost=46
    usage=scout
    description= _ "Mighty belligerents of the long forgotten past raised once again for combat. Confined in crumbling memories of their former glory they hunt down foes relentlessly."
    die_sound={SOUND_LIST:SKELETON_DIE}
    {DEFENSE_ANIM "units/undead-skeletal/doombringer-defend-2.png" "units/undead-skeletal/doombringer-defend-1.png" {SOUND_LIST:SKELETON_HIT} }
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        specials_list=charge
        damage=16
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/undead-skeletal/doombringer-attack-[1~2].png:100"
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/undead-skeletal/doombringer-attack-3.png:100"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/undead-skeletal/doombringer-attack-3.png:50"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            image="units/undead-skeletal/doombringer-attack-[4,2,1].png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
